.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  z-index: 1;

  display: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
  min-width: 150px;
}

.dropdown-item {
  display: block;
  padding: 10px;

  color: black;

  background-color: rgb(239, 239, 239);
  border-width: 1px;
  border-style: solid;
  border-color: gray;
}

.dropdown-item:hover {
  background-color: grey;
}

.dropdown-menu-visible {
  display: block;
}